// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    2;

// Colors
$brand-primary:         #27ae60;
$gray10:				#dfe9e9;
$gray80:				#2d3737;
$font-family-monospace:  "Inconsolata", monospace !default;
$font-family-base:        $font-family-monospace !default;
