.sidebar {
	animation-name: fadeInLeftBig;
	animation-delay: 0.3s;
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
	position:fixed;
	display: inline-block;
	z-index:400;
	height:100vh;
	padding-top:40px;
	.nav_menu-2 {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
	}
	.bottom {
		position:absolute;
		bottom:0;
		left:0;
		color:black;
		width:100%;
		padding:20px 0;
		text-align:center;
		background-color:$gray10;
	}
}