---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import AboutComponent from '../components/About.astro';
import Mission from '../components/Mission.astro';
import ParallaxImage from '../components/ParallaxImage.astro';
import Title from '../components/Title.astro';
import catWithLaptop from '../assets/images/cat-with-laptop.jpg';
import SiteData from "../constants/siteData.json";

---


<Layout 
seo={{
	title: SiteData.pages.blog.title,
	description: SiteData.default.description
}}
>
	<Header textColor="black" headerClasses="" menuColor="#000000"/>
	<main>
		<Title title="Blog" />
		<ParallaxImage
			src={catWithLaptop.src}
			alt="About me"
			class="w-100 h-[46vw] object-cover"
		/>
		<AboutComponent/>
    <Mission/>
	</main>
  <Footer />
</Layout>


