---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import ContactForm from '../components/ContactForm.astro';
import { Image } from 'astro:assets';
import arrowDownRightWhite from '../assets/images/arrow-down-right-white.svg';

---


<Layout title="Contact">
	<Header textColor="black" headerClasses="bg-white" menuColor="#000000"/>
	<main class="h-screen">
		<ContactForm />
	</main>
  <Footer />
</Layout>


