---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro'; 
import Blog from '../components/Blog.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Mission from '../components/Mission.astro';
import Services from '../components/Services.astro';

import Hero from '../components/Hero.astro';

---


<Layout title="Welcome to Piergorelli.com">
	<Header textColor="white" headerClasses="opacity-1 bg-[#13151a]" backgroundColor="bg-gray-900" menuColor="#ffffff"/>
	<main>
		<Hero/>
    <About/>
    <Mission/>
    <Services size={58} strokeWidth={0.5} customClasses='text-boulder-500'/>
    <Blog/>
	</main>
  <Footer />
</Layout>


