---
import LatestPost from "./LatestPost.astro";
const { limit = null } = Astro.props;
---

<section class="w-full bg-white pt-28 lg:pt-48">
  <div class="px-8">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 border-t">
        <div class="py-5 flex justify-between">
          <span class="uppercase">(Blog)</span>
          <span class="">04</span>
        </div>
        <h2 class="text-3xl lg:text-4xl font-display font-extrabold mb-16 text-boulder-900">Tech & tips</h2>
        <LatestPost limit={limit} />
      </div>
    </div>
  </div>
 
</section>