---
import FooterMenu from './FooterMenu.astro';
import { HeartIcon  } from 'astro-feather';
import Social from './Social.astro';

const currentYear = new Date().getFullYear();

---
<section class="bg-[#13151a] mt-48 px-8">
  <div class="grid grid-cols-12 h-full">
    <div class="col-span-12 lg:col-span-6 border-white border-b h-full py-12 flex justify-start">
      <span class="text-white text-[20vw] font-extrabold font-display leading-none">G</span>
    </div>
    <div class="col-span-6 lg:col-span-3 border-white border-b lg:border-s lg:border-e py-12 lg:px-8 flex flex-col justify-center">
      <span class="text-white"><Social /></span>
    </div>
    <div class="col-span-6 lg:col-span-3 border-white border-b py-12 lg:px-8 flex flex-col justify-center">
      <span class="text-white"><FooterMenu /></span>
    </div>
    <div class="col-span-12 flex flex-col justify-center items-center py-12">
      <div class="flex justify-center text-lg lg:text-2xl">
        <span class="text-white">©{ currentYear }. All rights reserved.</span>
      </div>
      <div class="mt-4 flex justify-center text-lg">
        <span class="flex items-center text-white">Made with <HeartIcon customClasses="fill-red-600 text-red-600 mx-3" /> in Valencia.</span>
      </div>
    </div>
  </div>
</section>