---
import * as AstroFeather from 'astro-feather'

const pages = [
  {
    name: 'Cookie Policy',
    url: '',
  },
  {
    name: 'Privacy Policy',
    url: '',
  },
];
---
<div class="flex flex-col">
  {pages.map((page) => {
    return (
    <a href
      ={page.url}
      class="text-white lg:text-xl flex items-start gap-2 mb-5 font-semibold"
      title={page.name}
    >
      {page.name}
    </a>
    );
  })}
</div>