---
import { CodeIcon, LayoutIcon, SearchIcon  } from 'astro-feather';

export interface ServiceItem {
  title: string;
  body: string;
  icon: string;
}

type Props = {
  size: number;
  strokeWidth: number;
  customClasses: string;
};

const { size, strokeWidth, customClasses } = Astro.props;

const iconMap: { [key: string]: (_props: Props) => any } = {
  code: CodeIcon,
  layout: LayoutIcon,
  search: SearchIcon,
};

const services: ServiceItem[] = [
  { title: 'Web<br/>Development', body: 'I can help you build your next website or web application.', icon: 'code' },
  { title: 'UI/UX Design', body: 'I can help you design a beautiful and user-friendly interface.', icon: 'layout' },
  { title: 'SEO<br/>Optimization', body: 'I can help you optimize your website for search engines.', icon: 'search'},
];
---
<section class="w-full bg-white pt-28 lg:pt-48">
  <div class="container mx-auto">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 border-t">
        <div class="py-5 flex justify-between">
          <span class="uppercase">(Services)</span>
          <span class="">03</span>
        </div>
        <h2 class="text-4xl font-display font-bold">Expertise</h2>
        <div class="mt-16">
          { services.map((item, index) => {
            const IconComponent = iconMap[item.icon] || null;
            return (
            <div class="py-14 border-b first:border-t">
              <div class="grid lg:grid-cols-4">
                <span class="text-3xl font-semibold">{(index + 1).toString().padStart(2,'0')}.</span>
                <h3 class="text-3xl font-semibold" set:html={item.title} />
                <p class="text-xl text-boulder-500">{ item.body }</p>
                <div class="flex justify-end text-end">
                  {IconComponent ? (
                      <IconComponent size={size} strokeWidth={strokeWidth} customClasses={customClasses} />
                    ) : (
                      <div>Icon not found</div>
                    )}
                </div>
              </div>
            </div>
          )})}
        </div>
      </div>
    </div>
  </div>
</section>
