---
import * as AstroFeather from 'astro-feather'

const networks = [
  {
    name: 'GitHub',
    url: 'https://github.com/lupin72',
    icon: 'GithubIcon',
    target: '_blank',
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/piergorelli/',
    icon: 'LinkedinIcon',
    target: '_blank',
  },
];
---
<div class="flex flex-col">
  {networks.map((network) => {
    const Icon = AstroFeather[network.icon as keyof typeof AstroFeather];
    return (
    <a href
      ={network.url}
      class="text-white lg:text-xl flex items-center lg:items-start gap-2 mb-5 font-semibold"
      target={network.target}
      title={network.name}
    >
      {Icon && <Icon size={24} />}
      {network.name}
    </a>
    );
  })}
</div>