// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;
@red:              #f16162;
@white:				#fff;
@black:				#1e1f20;


// Brand colors
// -------------------------

@brand-primary:         #27ae60;
@link-hover-color:      @red;
@link-color:            @gray-light;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";

// Fonts
// -------------------------
@font-family-sans-serif:  'Anaheim', sans-serif;
@font-family-base:        @font-family-sans-serif;


// Navbar
// -------------------------

@navbar-default-brand-hover-color:        @red;
@navbar-default-link-hover-color:          @red;
@navbar-default-link-active-color:         @red;
@navbar-default-link-active-bg: @white;
@navbar-inverse-link-hover-bg: @white;
@navbar-inverse-link-active-bg: @white;