.portfolio {
	height:260px;
	position:absolute;
	bottom:0;
	width:100%;
	.item.small-grid-item {
		position:relative;
		float:left;
		z-index:1;
		width: 20%;
		background-color: @white;
		display: block;
		position: relative;
		min-height: 260px;
		height: auto;
		padding: 0 20px;
		margin: 0 0 30px 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		.item-classification {
			font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
			font-weight: 500;
			font-style: normal;
			font-size: 14px;
			line-height: 10px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #212121;
			display: block;
			position: relative;
			height: 10px;
			padding-bottom: 16px;
			padding-top: 20px;
			
		}
		.item-classification:before {
			content: "";
			display: inline-block;
			vertical-align: top;
			height: 5px;
			width: 20px;
			margin-right: 6px;
			background: #212121
		}
		.item-title {
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			word-wrap: break-word;
			width: 100%;
			position: relative;
			
			a {
				color: #212121;
				text-decoration: none;
				position:relative;
				z-index:2;
			}
			.item-title-mask {
				position: absolute;
				top: 0;
				left: 0;
				padding-bottom: 30px;
				background: @white;
				z-index: 0;
				width: 100%;
			}
		}
		.item-thumbnail {
			width: 75%;
			height: auto;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			position:relative;
			z-index:5;
			
		}
	}
	.trigger {
		width: 20%;
		float: left;
		position: relative;
		height: 100%;
		cursor: pointer;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
		.feature {
			width: 100%;
			height: 100%;
			-webkit-transition: -webkit-transform .4s ease-in-out, opacity 1.5s ease-in-out;
			transition: transform .4s ease-in-out, opacity 1.5s ease-in-out;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			backface-visibility: hidden;
			opacity: 0;
			-webkit-transform: rotateX(0deg) translateZ(0);
			transform: rotateX(0deg) translateZ(0);
			.cover {
				max-height:150px;
				overflow:hidden;
				figure {
					overflow:hidden;
					max-height:150px;
					text-align:center;
					figcaption {
						position:absolute;
						top:0;
						left:0;
						width:100%;
						height:100%;
						h2 {
							margin:0;
							text-transform:uppercase;
							font-weight:800;
							font-size:1.5em;
							color:@white;
							opacity:0;
						}
						p {
							color:@white;
						}
					}
				}
				figure.effect-layla {
					background: #1e1f20;
					
				}

				figure.effect-layla img {
					height: 180px;
					opacity:0.8;
				}

				figure.effect-layla figcaption {
					padding: 3em;
				}

				figure.effect-layla figcaption:before,
				figure.effect-layla figcaption::after {
					position: absolute;
					content: '';
					opacity: 0;
				}

				figure.effect-layla figcaption:before {
					top: 30px;
					right: 30px;
					bottom: 30px;
					left: 30px;
					border-top: 1px solid #fff;
					border-bottom: 1px solid #fff;
					-webkit-transform: scale(0,1);
					transform: scale(0,1);
					-webkit-transform-origin: 0 0;
					transform-origin: 0 0;
				}

				figure.effect-layla figcaption:after {
					top: 10px;
					right: 50px;
					bottom: 10px;
					left: 50px;
					border-right: 1px solid #fff;
					border-left: 1px solid #fff;
					-webkit-transform: scale(1,0);
					transform: scale(1,0);
					-webkit-transform-origin: 100% 0;
					transform-origin: 100% 0;
				}

				figure.effect-layla h2 {
					padding-top: 5%;
					-webkit-transition: -webkit-transform 0.35s;
					transition: transform 0.35s;
				}

				figure.effect-layla p {
					padding: 0.5em 2em;
					text-transform: none;
					opacity: 0;
					-webkit-transform: translate3d(0,-10px,0);
					transform: translate3d(0,-10px,0);
				}

				figure.effect-layla img,
				figure.effect-layla h2 {
					-webkit-transform: translate3d(0,-30px,0);
					transform: translate3d(0,-30px,0);
				}

				figure.effect-layla img,
				figure.effect-layla figcaption::before,
				figure.effect-layla figcaption::after,
				figure.effect-layla h2,
				figure.effect-layla p {
					-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
					transition: opacity 0.35s, transform 0.35s;
				}

				figure.effect-layla:hover img {
					opacity: 0.3;
					-webkit-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
				}

				figure.effect-layla:hover figcaption::before,
				figure.effect-layla:hover figcaption::after {
					opacity: 1;
					-webkit-transform: scale(1);
					transform: scale(1);
				}

				figure.effect-layla:hover h2,
				figure.effect-layla:hover p {
					opacity: 1;
					-webkit-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
				}

				figure.effect-layla:hover figcaption::after,
				figure.effect-layla:hover h2,
				figure.effect-layla:hover p,
				figure.effect-layla:hover img {
					-webkit-transition-delay: 0.15s;
					transition-delay: 0.15s;
				}
				figure.effect-ming {
					background: #030c17;
				}

				figure.effect-ming img {
					opacity: 0.9;
					-webkit-transition: opacity 0.35s;
					transition: opacity 0.35s;
				}

				figure.effect-ming figcaption::before {
					position: absolute;
					top: 20px;
					right: 20px;
					bottom: 20px;
					left: 20px;
					border: 1px solid #fff;
					box-shadow: 0 0 0 20px rgba(255,255,255,0.2);
					content: '';
					opacity: 0;
					-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
					transition: opacity 0.35s, transform 0.35s;
					-webkit-transform: scale3d(1.4,1.4,1);
					transform: scale3d(1.4,1.4,1);
				}

				figure.effect-ming h2 {
					margin: 12% 0 10px 0;
					-webkit-transition: -webkit-transform 0.35s;
					transition: opacity 0.35s, transform 0.35s;
					-webkit-transform: scale(1.5);
					transform: scale(1.5);
				}

				figure.effect-ming p {
					padding: 1em;
					opacity: 0;
					-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
					transition: opacity 0.35s, transform 0.35s;
					-webkit-transform: scale(1.5);
					transform: scale(1.5);
				}

				figure.effect-ming:hover h2 {
					-webkit-transform: scale(0.9);
					transform: scale(0.9);
				}

				figure.effect-ming:hover figcaption::before,
				figure.effect-ming:hover h2,
				figure.effect-ming:hover p {
					opacity: 1;
					-webkit-transform: scale3d(1,1,1);
					transform: scale3d(1,1,1);
				}

				figure.effect-ming:hover figcaption {
					background-color: rgba(58,52,42,0);
				}

				figure.effect-ming:hover img {
					opacity: 0.4;
				}
				
			}
		}
		.feature.show {
			opacity:1;
		}
	}
}
