.content-info { 
	height:200px;
	background-color:@black;
	text-align:center;
	.container {
		position:relative;
		.love {
			display:block;
			margin-top:75px;
			span {
				color:@white;
				font-size:30px;	
			}
			p {
				position:static;
				color: @white;		
			}
		}
		p {
			position:absolute;
			left:20px;
			top:90px;
			font-size:14px;
			color:#54595b;
			a {
				color:@white;
			}
			a.twitter {
				margin-right:80px;
			}
			a.contact {
				margin-left:80px;
			}
		}
		.social {
			left:auto;
			right:20px;
		}
	}
}

