.claim {
	
}

.contact {
	.container {
		.content {
			max-width:650px;
			margin:0 auto;
		}
	}
}

.services {
	.wrap {
		width:100%;
		height:100%;
		position:absolute;
		.content {
			height:100%;
			.main {
				height:100%;
				#slide-container {
	  	  			width: 100%;
	  				height: 100%;
	  	  			margin: 0 auto;
	  	  			overflow: hidden;
					visibility:hidden;
					.snappish-main {
	    				width: 100%;
	    				z-index: 9;
						article  {
							position: relative;
							z-index: 1;
							font-weight: 200;
							font-size: 20px;
							vertical-align: middle;
							text-align: center;
							font-weight: 300;
							text-transform: uppercase;
							-webkit-transition-duration: 1s;
							-moz-transition-duration: 1s;
							-o-transition-duration: 1s;
							transition-duration: 1s;
							-webkit-transition-property: -webkit-transform;
							-moz-transition-property: -moz-transform;
							-o-transition-property: -o-transform;
							transition-property: transform;
							.content-slide {
								position: absolute;
								width: 100%;
								top: 0;
								bottom: 0;
								text-align: center;
								margin: auto;
								.label {
									display: table;
									width: 100%;
									height: 100%;
									position: absolute;
									top: 0;
									left: 0;
									z-index: 100;
									margin:0;
									padding:0;
									h2 {
										position: relative;
										display: inline-block;
										padding: 40px 60px;
										margin:0;
										color:@gray;
										-webkit-box-sizing: border-box;
										-moz-box-sizing: border-box;
										box-sizing: border-box;
									}
								}
							}
						}	
	  				}
				}
				#two-container {
					position: absolute;
					top: 0;
					left: 0;
					pointer-events: none;
					z-index: 0;
					background-color: transparent;
					width: 100%;
					height: 100%;
					margin: 0 auto;
					overflow: hidden;
					visibility: hidden;
					svg {
						width: 100%;
						height: 100%;
					}
					#brandandproduct-wrapper {
						position: absolute;
						top: 50%;
						left: 50%;
						display: none;
						font: 30px/32px 'Gotham Cond SSm A', 'Gotham Cond SSm B';
						font-weight: 300;
						letter-spacing: 8px;
						text-transform: uppercase;
						color: #fff;
					}
				}
			}	
		}	
	}	
	a.scroll-down-arrow {
		height: 80px;
		width: 40px;
		display: block;
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		margin: auto;
		opacity: 0;
		z-index: 1000;
		background: rgba(33, 33, 33, 0);
		-webkit-transition: opacity 1s 0;
		-moz-transition: opacity 1s 0;
		-o-transition: opacity 1s 0;
		transition: opacity 1s 0;
		cursor: default;
		pointer-events: none;
		.arrow {
			position: absolute;
			bottom: 24px;
			left: 0;
			height: 80px;
			width: 40px;
			display: block;
			
			&:before {
				content: " ";
				position: absolute;
				left: 48.74%;
				top: 0;
				height: 100%;
				width: 0;
				border-left: 1px solid @gray;
				z-index: 1;
				pointer-events: none;
			}
			&:after {
				content: " ";
				position: absolute;
				bottom: 4px;
				left: 7px;
				border-left: 1px solid @gray;
				border-bottom: 1px solid @gray;
				width: 26px;
				height: 26px;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
				pointer-events: none;
			}
		}
		> span {
			visibility: hidden;
			letter-spacing: 3px;
			position: absolute;
			width: 200px;
			height: 22px;
			left: 50%;
			bottom: 0;
			margin-left: -98px;
			text-align: center;
			z-index: 10;
		}	
	}
	a.scroll-down-arrow.visible {
		opacity: 1;
		pointer-events: visible;
		cursor: pointer;
		.arrow {
			-webkit-animation: arrow 1s ease-in-out infinite;
			-moz-animation: arrow 1s ease-in-out infinite;
			-o-animation: arrow 1s ease-in-out infinite;
			animation: arrow 1s ease-in-out infinite;
		}	
	}	
	footer, header {display:none;}
	@-webkit-keyframes arrow {
	  0% {
	    bottom: 26px;
	  }
	  50% {
	    bottom: 40px;
	  }
	  100% {
	    bottom: 26px;
	  }
	}

	@-moz-keyframes arrow {
	  0% {
	    bottom: 26px;
	  }
	  50% {
	    bottom: 40px;
	  }
	  100% {
	    bottom: 26px;
	  }
	}

	@-o-keyframes arrow {
	  0% {
	    bottom: 26px;
	  }
	  50% {
	    bottom: 40px;
	  }
	  100% {
	    bottom: 26px;
	  }
	}

	@keyframes arrow {
	  0% {
	    bottom: 26px;
	  }
	  50% {
	    bottom: 40px;
	  }
	  100% {
	    bottom: 26px;
	  }
	}
	
}